* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    min-height: 640px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.container {
    width: 80%;
    min-width: 200px;
    height: auto;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 70%;
    height: auto;
    margin: 5% auto;
    padding: 3%;
    border: 1px solid rgb(187, 183, 183);
    box-shadow: 0 0 10px rgb(187, 183, 183);
    display: flex;
    flex-direction: column;
    position: relative;
}

.add-tasks {
    width: 100%;
    height: 30%;
    min-height: 150px;
    position: relative;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}

.new-task {
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
}

.new-task label {
    font-size: 11px;
    color: rgb(187, 183, 183);
}

#task {
    font-family: inherit;
    padding: 5px 0;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
}

input.submit {
    width: fit-content;
    width: -moz-fit-content;
    font-family: inherit;
    padding: 1% 2%;
    position: absolute;
    top: 75%;
    border: none;
    box-shadow: 0 0 2px rgb(95, 210, 1);
    color: white;
    background-color: rgb(95, 210, 1);
    cursor: pointer;
}

.result {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
}

.collection-list {
    padding: 1% 3%;
    border: 1px solid rgb(187, 183, 183);
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

.delete-item {
    color: orangered;
}

.delete-img {
    width: 10px;
}
