* {
    padding: 0;
    margin: 0;
}

body {
    color: #5e847e;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 70%;
    margin: 5% auto 0;
    padding: 3%;
    border: 1px solid rgb(187, 183, 183);
    box-shadow: 0 0 10px rgb(187, 183, 183);
}

#taskInput {
    padding: 5px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(71, 238, 230);
    width: 100%;
    margin-bottom: 25px;
}

.submit {
    padding: 1% 2%;
    border: 1px solid rgb(71, 238, 230);
    border-radius: 40px;
    outline: none;
    background: none;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

#taskList {
    list-style: none;
}

#taskList a img {
    width: 18px;
    height: 18px;
}

.task {
    padding: 2% 2% 0;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    color: coral;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 85px;
}

.links a {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
    color: mediumseagreen;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.buttons div {
    background: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    border: 1px solid rgb(71, 238, 230);
    border-radius: 40px;
    width: 20%;
    min-width: 100px;
    text-align: center;
    line-height: 2.5;
}

.buttons div:hover {
    transition: all 0.25s;
    transform: scale(1.1);
}

.buttons div:focus {
    background: rgb(180, 248, 245);
}

.task span input {
    color: crimson;
    outline: none;
    border: none;
    border-bottom: 2px solid pink;
    padding-bottom: 5px;
}
